<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unircorn.csp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="黔法快阅通"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CspRefactor"
        tools:replace="android:allowBackup,label">
        <activity
            android:name=".ui.act.LoginAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.act.MainAct"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.act.my.MyAct" />
        <activity android:name=".ui.act.my.ModifyPasswordAct" />
        <activity android:name=".ui.act.article.ArticleDetailNormalAct" />
        <activity android:name=".ui.act.article.ArticleDetailPdfAct" />
        <activity
            android:name=".ui.act.article.ArticleDetailVideoAct"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.act.article.ArticleSearchAct" />
        <activity android:name=".ui.act.topic.CreateTopicAct" />
        <activity android:name=".ui.act.topic.CommentTopicNormalAct" />
        <activity android:name=".ui.act.topic.CommentTopicVideoAct"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>

</manifest>